body{
    font: 24px, arial, sans-serif;
}
.navbar{
    background-color: #D9F6D9;
    font-size: 30px;
}

.nav-item{
    border: solid 2px rgb(18, 110, 38);
    margin-left: 10px;
}
.nav-item a:hover{
    text-shadow: 1px 1px rgb(9, 59, 20);  
}

.quem-somos{
    background-color: #C5D9C4;
    color: #181A1A;
}

.margin{
    padding-top: 10px ;
    padding-bottom: 10px;
}

.servicos{
    background-color: #98A897;
    color: black;
}

.parceiros{
    background-color: #616B60;
}

.contato{
    background-color: #232723;
    color: white;
    font: 20px, helvetica;
}

.margin2{
    margin-left: 50px;
    margin-right: 50px;
}

.faleconosco{
    background-color: #2A2F2A;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
}

.telefone{
    color: white;
}
